@media (max-width: 1199px) {
}

@media (max-width: 991px) {
	.partner-registration-profile-box{
		grid-template-columns: 1fr;
		gap: 30px;
	}
	.partner-registration-profile-wraper + .partner-registration-profile-wraper{
		margin-left: 0;
	}
	.partner-registration-items-mod{
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 767px) {
    .partner-registration-profile-box{
        grid-template-columns: 1fr;
        gap: 30px;
    }
		.partner-registration-items-mod{
			grid-template-columns: 1fr;
		}
}

@media (max-width: 575px) {
}

@media (min-width: 1200px) {
}
