@media (max-width: 1199px) {

}

@media (max-width: 991px) {
    .technological-documentation p b{
        display: none;
    }
		.technological-documentation .info-text-imgbox{
			margin-top: 0;
		}

}

@media (max-width: 767px) {

.technological-documentation-doc-box + .technological-documentation-doc-box{
	margin-top: 32px;
}
}

@media (max-width: 575px) {
}

@media (min-width: 1200px) {
}
