@media (max-width: 1199px) {
}

@media (max-width: 991px) {
	.contact-map-inner{
	height: 335px;
	}
	.contact-map{
		margin-top: 40px;
	}
}

@media (max-width: 767px) {
	.contact-map-inner{
		height: 480px;
	}
	.contacts-inner{
		grid-template-columns: 1fr;
		gap: 25px;
	}
	.contact-map{
	margin: 40px -15px 0;
	}

}

@media (max-width: 575px) {
	.contacts-wrapper{
		padding-bottom: 0;
	}
}

@media (min-width: 1200px) {
}
