@media (max-width: 1199px) {
    .product-card-inner{
        align-items: start;
        grid-template-columns: 1fr auto;
        gap: 50px;
    }
    .direction-catalog-marked{
        top: 15px;
        left: 15px;
    }

    .telephone-exchanges .direction-catalog-content-item-box .status, .telephone-exchanges .direction-catalog-content-item-info .status{
        margin-bottom: 42px;
    }
    .telephone-exchanges{
        .direction-catalog-content-item-inner{
          padding-bottom: 116px;
        }
        
      }
	.catalog-product{
		.product{
			min-height: 248px;
		}
	}
    .product-card-slider .slider-thumbs .swiper-wrapper{
        height: 351px;
    }
    .slider-images{
        width: 351px;
        height: auto;
      }

    // .product-card-slider .slider-flex{
    //     grid-template-columns: minmax(auto, 330px);
    // }
    .product-card-slider .slider-images .slider-image{
        width: 351px;
        height: 351px;
        img{
            width: 100%;
            height: 100%;
        }
    }

    // .product-card-slider .slider-flex{
    //     grid-template-columns: minmax(auto, 472px);
    // }


    // .product-card-slider .slider-flex{
    //     grid-template-columns: minmax(auto, 330px);
    // }
    .product-card-control-panel-mod span{
        align-items: center;
    }
    .slider-images .swiper{
       height: 100%;
    }
}

@media (max-width: 991px) {
    .product-card-tabs .tabs-link{
        margin: 45px 0 22px;
    }
    .product-card-slider .slider-images .slider-image{
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .direction-catalog-marked{
        top: 15px;
        left: 15px;
    }
    .slider-images .swiper{
        padding-bottom: 34px;
    }

    .product-card-control-box-mod{
        margin: 30px 0 45px;
        grid-template-rows: 1fr 1fr;
        .product-card-control-panel-mod-l{
            grid-column: 1/2;
            grid-row: 2/2;
        }
    }
    .product-card-control-panel-mod{
        grid-column: 2/3;
        grid-row: 1/3;
        flex-direction: column;
        gap: 6px;
    }
    .product-card-inner{
        grid-template-columns: minmax(auto, 330px) 1fr;
        gap: 30px;
        align-items: start;
    }
    .slider-col{
        display: none;
    }
    .product-card-slider .slider-images-pagination{
        display: block;
        width: 100%;
        bottom: 0;
    }
    .direction-catalog-content-aside{
        display: none;
    }
    .orders-panel-table-cell:first-child{
        width: 210px;
    }
    .orders-panel-table-cell:nth-child(2){
        width: 290px;
    }
    .price-table-wrapper .orders-panel-table-cell{
        padding: 15px 10px;
    }
    .orders-panel-table-cell:last-child{
        width: 100px;
    }
	.project{
		.info-text ol li, .info-text ul li{
			padding-left: 24px;
		}
	}
	.personal-sertificate .personal-sertificate-btn{
		max-width: 291px;
		width: 100%;
	}
    .tab-container {
        .direction-catalog-list .direction-catalog-content-item-inner{
            gap: 15px;
        }
        .direction-catalog-list .direction-catalog-content-item{
            gap: 45px;
        }
    }
    .tab-container .goods-calc.product-one-calc{
        margin-left: 15px;
        margin-right: 15px;
    }
    .product-card-tabs-slider .swiper-wrapper{
        grid-template-columns: repeat(3, 1fr);
    }
    .product-card-tabs .promotion-items{
        grid-template-columns: repeat(2, 1fr);
    }
    .product-card-control-box{
        gap: 15px 30px;
    }
		.order-creat-panel-delivery .order-creat-panel-box {
			max-width: 295px;
		}
		.order-creat-panel{
			
		}
        .my-order .orders-panel-table-cell:nth-child(2){
            width: 210px;
        }
        .web-form-item label.select-placeholder.select-placeholder-mob{
            display: block;
          }
        .web-form-item label.select-placeholder.select-placeholder-desk{
            display: none;
          }
          .product-cards-slider-box,
          .product-card-watched-cards-box{
      
              .swiper-pagination{
                display: block;
                width: 100%;
              }
            }
    }

@media (max-width: 767px) {
    .product-cards-slider-box,
    .product-card-watched-cards-box{

        .swiper-pagination{
          display: block;
          width: 100%;
        }
      }
    .product-cards-slider-box,
    .product-card-watched-cards-box{
        .project-slider-next, .project-slider-prev {
            display: none;
        }
      }
    .direction-catalog-list .direction-catalog-marked{
        width: 40px;
        height: 40px;
        top: -5px;
        right: auto;
        left: -8px;
    }
    .product-card-tabs .tabs-link{
        margin: 40px 0 22px;
    }
    .direction-catalog-list .direction-catalog-content-item-buy.mod{
        justify-content: end;
    }
    .direction-catalog-list .direction-catalog-content-item-info {
        margin: 4px 0;
    }
    .direction-catalog-content-item-buy-box{
        width: auto;
    }
    .direction-catalog-content-item-buy{
        gap: 0 8px;
    }
    .direction-catalog-content-aside-item-content .filter-inner{
        grid-template-columns: 1fr 1fr;
    }
    .my-order .orders-panel-table-cell{
        padding: 0;
    }
    .my-order .orders-panel-table-cell:nth-child(2){
        width: auto;
    }
    .my-order{
        .orders-panel-table-cell{
            flex-basis: 100%;
        }
    }

    .order-creat-list{
        padding: 20px 15px 25px;
    }
    .price-table-wrapper .orders-panel-table-cell{
        padding: 0;
    }
    .price-table-wrapper .orders-panel-table-cell:first-child{
        padding: 0;
    }
    .orders-panel-table-cell:first-child{
        width: auto
    }
    .orders-panel-table-cell:nth-child(2){
        width: auto
    }

    .orders-panel-table-cell:last-child{
        width: auto
    }
	.catalog-product{
		.product{
			min-height: 180px;
		}
	}
	.order-creat-btns{
		display: flex;
		flex-direction: column;
	}
	.order-creat-btns label + label{
		margin-left: 0;
		margin-top: 8px;
	}
	.web-form-item input:placeholder-shown + label.web-form-label-desk,
	.web-form-item textarea:placeholder-shown + label.web-form-label-desk {
		display: none;
	}
	.web-form-item input:placeholder-shown ~ label.web-form-label-mob,
	.web-form-item textarea:placeholder-shown ~ label.web-form-label-mob {
		display: block;
	}
    .slider-images{
        width: 510px;
      }
        .product-card-slider .slider-flex{
        grid-template-columns: minmax(auto, 510px);
    }
    .product-card-slider .slider-images .slider-image, .product-card-slider .slider-images .slider-image img{
        width: 100%;
        height: 100%;
    }
    .product-card-slider .slider-images .slider-image, .product-card-slider .slider-images .slider-image img{
        margin: 0 auto;
    }
    .product-card-tabs .promotion-items{
        grid-template-columns: repeat(1, 1fr);
    }
    .product-card-tabs-descriptions,
    .product-card-inner{
        grid-template-columns: 1fr;
    }
    .product-card-tabs-slider .swiper-wrapper{
grid-template-columns: 1fr 1fr;
    }

    .tab-container .goods-calc.product-one-calc{
       margin-left: 5px;
       margin-right: 15px;
       width: auto;
       width: 120px;
       margin-left: auto;
    }
    .direction-catalog-list .direction-catalog-content-item{
        padding: 12px 15px;
    }
    .tab-container .direction-catalog-list .direction-catalog-content-item{
        gap: 15px;
    }
    .product-card-control-box,
    .product-card-control-box-mod{
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
    }
    .product-card-inner{
        gap: 16px;
    }
		.partner-personal-account-box{
			padding-left: 25px;
			padding-right: 25px;
		}
		.partner-personal-account-box-inner{
			width: calc(100% - 50px);
		}
		.order-creat-list-box{
			gap: 2px;
		}
		.web-form-item input,
		.web-form-item label{
			padding-right: 15px;
		}
        .price-table{
            .orders-panel-table-row{
                display: block;
           
            }
        }
        .telephone-exchanges .direction-catalog-content-item-img{
            height: 156px;
        }
        .direction-catalog-content-item-img img{
            width: 156px;
            height: 156px;
        }
        .orders-panel-table.price-table{
.price-table-status{
    margin-top: 8px;
}
        }
        .product-card-watched{
            .product-card-promotion-title{
                margin-top: 88px;
            }
        }
        .product-card.page-inner{
            padding-bottom: 80px;
        }
}

@media (max-width: 575px) {
    .product-card-tabs-slider .swiper-wrapper{
        display: flex;
        gap: 0;
    }
    .product-card-tabs-slider > .swiper-pagination{
        display: block;
    }
    .telephone-exchanges .direction-catalog-content-items {
        grid-template-columns: 1fr;
      }
    .order-creat-panel-location{
        .order-creat-list-btn,
        .order-creat-panel-btns{
            display: block;
            width: 100%;
            text-align: center;
        }
      }

	.personal-sertificate .personal-sertificate-btn{
		max-width: none;
	}
	.order-creat-panel{
		padding-bottom: 5px;
	}
	.order-creat-panel-delivery .order-creat-panel-box {
		max-width: none;
	}
    .slider-images{
        width: auto;
        max-width: 100%;
      }
    .product-card-slider .slider-flex{
        grid-template-columns: minmax(auto,285px);
        justify-content: center;
    }
     .product-card-control-piggy{
        grid-column: 1;
    }
    .product-card-control-panel-mod{
        
    }
    .product-card-control-box-mod .product-card-control-panel-mod-l{
        
    }
		.order-creat-panel-location{
			.order-creat-panel-inner{
				flex-direction: column;
			align-items: start;
			}
			.order-creat-list-btn{
				display: block;
				width: 100%;
				text-align: center;
			}
		}
		.personal-sertificate .personal-sertificate-btn{
			width: calc(100% - 50px);
		}
		.personal-sertificate-wrapper{
			padding-bottom: 72px;
		}
        .order-creat .order-creat-panel{
            padding-bottom: 22px;
        }
}

@media (min-width: 1200px) {
}
