@media (max-width: 1199px) {
}

@media (max-width: 991px) {
	.forgot-password-inner{
		min-height: 764px;
	}
}

@media (max-width: 767px) {
	.forgot-password-inner{
		min-height: auto;
		padding: 60px 0;
	}
	.forgot-password-title{
		font-size: 18px;
		line-height: 24px;
	}
	.forgot-password-info{
		margin: 23px 0 32px;
	}
}

@media (max-width: 575px) {
}

@media (min-width: 1200px) {
}
