@media (max-width: 1199px) {
}

@media (max-width: 991px) {
	.orders-panel-content-inner{
		gap: 130px;
	}
	.orders-panel-content{
		padding: 25px 30px;
	}
}

@media (max-width: 767px) {
	.orders-panel-content{
		grid-template-columns: 1fr auto;
		gap: 10px 15px;
	}

	.orders-panel-content{
		padding: 25px 15px;
	}
	.tabs-item + .tabs-item{
		margin-left: 25px;
	}
	.orders-panel-title{
		padding: 12px 15px;
	}
	.orders-panel-box.order-panel-btns{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
	}
	.orders-panel-box{
		grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: span 1;
    grid-row-end: span 1;
	}
	.orders-panel-box{
		&:nth-child(n + 2){
			grid-column-end: 3;
		}
	}
}

@media (max-width: 575px) {
}

@media (min-width: 1200px) {
}
