@media (max-width: 1199px) {
}

@media (max-width: 991px) {
	.goods-calc{
		width: 120px;
	}
	.goods-calc .value-button{
		width: 35px;
	}
	.basket-summary{
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 767px) {
	.basket-table-head,
	.basket-delate{
		display: none;
	}
	.basket-table-content{
		display: block;
		td{
			display: block;
		}
	}
	td.basket-table-td-price{
		display: none;
	}
	.basket-calc-box{
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 12px;
		.basket-table-price{
			min-width: 90px;
		}
		.basket-table-price,
		.basket-delate{
			display: block;
		}
	}
	.goods-calc{

		margin: 0 0 0 auto;
	}

	.basket-summary{
		grid-template-columns: 1fr;
		gap: 30px 0;
	}
	.basket-promo input{
		width: 100%;
		max-width: 100%;
	}
	.basket-table tr td{
		padding: 0;
	}
	.basket-table-box{
		padding: 15px 15px 0;
	}
	.basket-calc-box{
		padding: 15px;
	}
	.basket-table-price{
		text-align: left;
	}
}

@media (max-width: 575px) {
}

@media (min-width: 1200px) {
}
