@media (max-width: 1199px) {
   .course-panel-info-btn{
        display: none;
    }
    .course-link-btn,
    .text-navigation-btns{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        a{
            margin-bottom: 0;
        }

    }
    .course-info{
        margin: 31px 0 48px;
    }
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
    .course-link-btn,
    .text-navigation-btns{
        grid-template-columns: 1fr;
    }
    .course-info{
        margin: 31px 0 34px;
    }
}

@media (max-width: 575px) {
}

@media (min-width: 1200px) {
}
