@media (max-width: 1199px) {
	.footer-nav-items {
		gap: 30px;
	}

	.footer-nav-item-box-phone-inner{
		max-width: max-content;
	}

}

@media (max-width: 991px) {
	.footer-nav-item-box-phone{
		display: flex;
		justify-content: flex-end;
	}
	.footer-nav-items {
		grid-template-columns: 1fr;
		gap: 0;
	}
	.footer-nav-item-box-link-icons {
		justify-content: center;
	}
	ul.footer-nav-item {
		display: none;
		&.footer-mobile-nav {
			display: block;
		}
	}
	.footer-nav-item-box {
		display: grid;
		grid-template-columns: repeat(3, minmax(auto, 210px));
		justify-content: space-between;
		gap: 30px;
	}
	.footer-nav-item-box-phone {
		order: 3;
	}
	.footer-nav-item-box-link {
		gap: 10px;
		text-align: center;
	}
	.footer-nav-item-box-adress {
		margin-bottom: 0;
	}
	.footer-nav-item-box-phone {
		margin-bottom: 0;
	}
	.footer-nav{
		padding: 45px 0;
	}
}

@media (max-width: 767px) {
	.footer-nav-item-box-link-icons {
		justify-content: flex-start;
	}
	.footer-nav-item-box {
		grid-template-columns: minmax(auto, 210px) auto;
	}
	.footer-nav-item-box-phone {
		order: 0;
	}
	.footer-nav-item-box-link {
		grid-template-columns: auto auto;
		justify-content: space-between;
		grid-column: 1/3;
	}
	.footer-nav-item-box-link-icons {
		margin-right: 25px;
	}
	.mobile-nav {
		display: block;
	}
	.wrapper-page {
		padding-bottom: 64px;
	}
	.footer-nav-item-box-link{
		margin-right: 0;
	}
	.footer-nav-item-box-link{
		text-align: left;
	}
	.footer-nav{
		padding: 40px 0;
	}
}

@media (max-width: 575px) {
	.footer-nav-item-box {
		grid-template-columns: 1fr;
		gap: 15px;
	}
	.footer-nav-item-box-phone {
		text-align: left;
	}
	.footer-nav-item-box-link {
		grid-template-columns: 1fr;
	}
	.footer-nav-item-box-link {
		grid-column: auto;
	}
	.footer-nav-item-box-link-icons {
		margin-right: 0;
		margin-top: 10px;
	}
	.footer-copy-inner {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 2px;
		padding: 12px 0;
	}
	.mobile-nav-inner{
		padding: 0;
	}
	.footer-nav-item-box-phone{
		display: flex;
		justify-content: flex-start;
	}
	.partners-inner h2{
		display: none;
	}
}

@media (min-width: 1200px) {
}
