@media (max-width: 1199px) {
	.product:focus .product-img, .product:hover .product-img{

		height: 75px;
	}
	.product {
		max-height: 218px;
		min-height: 218px;
	}
	// .product:hover, 
	// .product:focus {
	// 	padding-bottom: 110px;
	// }



}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
	.product-title {
		font-size: 16px;
	}
	.product {
		max-height: 180px;
		min-height: 180px;
	}
	.product:hover, 
	.product:focus {
		padding-bottom: 116px;
		.product-img {
			display: none;
		}
	}
	.product {
		padding-left: 24px;
		padding-right: 8px;
	}
}

@media (max-width: 575px) {
	.products-inner {
		gap: 15px 0;
	}
	.product:hover,
	.product:focus {
		padding-bottom: 72px;
	}
}

@media (min-width: 1200px) {
}
