@import "_vars";
@import "_global";
@import "_fonts";
.header {
    background: #fff;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-box {
    display: flex;
    align-items: center;
}

.header {
    padding: 14px 0;
}

.menu-list-link {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #333333;
}

.menu-list {
    li+li {
        margin-left: 32px;
    }
}

.header-logo {
    display: block;
    img {
        width: 199px;
        height: 48px;
        object-fit: cover;
    }
}

.header-icons {
    display: block;
    position: relative;
    border: 1px solid #eeeeee;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    &+& {
        margin-left: 8px;
    }
    img,
    svg {
        width: 24px;
        height: 24px;
        object-fit: cover;
    }
    &.header-icons-search {
        img,
        svg {
            width: 18px;
            height: 18px;
        }
    }
}

.header-desktop-sub-menu-heading {
    display: none;
}

.header-icons-search {
    background-image: url(../img/svg/search.svg);
    @include bgi;
    background-size: 18px 18px;
    &.open-search {
        background-image: url(../img/svg/close-button.svg);
        background-size: 24px 24px;
        border: none;
    }
}

.header-icons-count {
    position: absolute;
    top: -2px;
    right: -4px;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    background: #fe000c;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #ffffff;
}

.header-logo {
    margin-right: 46px;
}

.menu-list>li {
    position: relative;
    >a {
        position: relative;
        z-index: 10;
        display: block;
        text-decoration: none;
    }
}

.menu-list>li.is-parent {
    a {
        padding-right: 18px;
        &::after {
            content: "";
            position: absolute;
            top: 6px;
            right: 0;
            display: block;
            width: 8px;
            height: 8px;
            margin: -4px 0 0 8px;
            border: 2px solid #333333;
            border-width: 0 0 2px 2px;
            transform: rotate(-45deg);
            transition: all 0.25s ease;
        }
    }
    &:hover {
        .menu-submenu {
            max-height: 2000px;
            padding: 32px 0;
            opacity: 1;
            overflow: visible;
            border-top: 3px solid #fe000c;
        }
    }
}

.menu-submenu {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 290px;
    max-height: 0;
    padding: 0;
    background: #fff;
    transition: all 0.35s ease;
    overflow: hidden;
}

.menu-submenu {
    li {
        display: block;
    }
    li+li {
        margin: 0;
    }
}

.header-desktop-menu {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.header-desktop-menu>li {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
    &+li {
        margin-left: 28px;
    }
}

.header-desktop-menu>li>a {
    position: relative;
    z-index: 10;
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #333;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
        color: #A29999;
    }
}

.header-desktop-menu>li>a>span {
    position: relative;
    z-index: 10;
    display: inline-block;
}

.header-desktop-menu>li.is-parent>a>span:after {
    content: "";
    position: absolute;
    top: 7px;
    left: 100%;
    display: block;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 8px;
    border: 2px solid #333;
    border-width: 0 0 2px 2px;
    transform: rotate(-45deg);
    transition: all 0.25s ease;
}

.header-desktop-sub-menu>li>a {
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 20px;
    color: #333;
    text-decoration: none;
    padding: 12px 0;
    padding-left: 30px;
}

.header-desktop-sub-menu>li:hover>a {
    font-weight: 600;
    // text-shadow:
    // -1px -1px 0 #2DD785,
    // 1px -1px 0 #2DD785,
    // -1px 1px 0 #2DD785,
    // 1px 1px 0 #2DD785;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    font-size: 14px;
    line-height: 24px;
    color: #fe000c;
    background: #f2f2f2;
}

.header-desktop-sub-menu>li.is-parent>a span:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 22px;
    display: block;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 8px;
    border: 2px solid #c0c4c7;
    border-width: 2px 2px 0 0;
    transform: rotate(45deg);
}


/*
.header-desktop-sub-sub {
	display: inline-flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	width: 580px;
}
.header-desktop-sub-sub > li {
	flex: 0 0 auto;
	width: 290px;
}
*/

.header-desktop-sub-sub>li>a {
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-decoration: none;
    span {
        padding: 12px 0;
        padding-left: 30px;
        padding-right: 25px;
        display: block;
    }
}

.header-desktop-sub-sub>li:hover>a {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    background: #f2f2f2;
    color: #333333;
    span {
        font-weight: 600;
        color: #333333;
    }
}

li.is-parent {
    a {
        padding-right: 22px;
    }
}

.mobile-navigation-trigger {
    display: inline-block;
    width: 58px;
    height: 48px;
    padding: 0 15px;
    margin: 0 0 0 -15px;
    vertical-align: top;
    background: #fff;
    border: none;
    border-radius: none;
    box-shadow: none;
    cursor: pointer;
    .icon-bar {
        display: block;
        width: 28px;
        height: 2px;
        margin: 5px 0;
        background: #333;
    }
    .trigger-cross {
        display: none;
        font-size: 40px;
        font-family: serif;
        color: #a0a4a8;
    }
    &.active {
        .icon-bar {
            display: none;
        }
        .trigger-cross {
            display: block;
        }
    }
}

.panel-search {
    background: #fff;
    display: none;
    position: absolute;
    width: 100%;
    padding: 16px 0;
    .panel-search-box {
        position: relative;
        input {
            width: 100%;
            height: 48px;
            padding: 16px 14px;
            border: 1px solid #eeeeee;
            font-size: 14px;
            line-height: 20px;
            color: #333;
            &::placeholder {
                color: #a29999;
            }
        }
        button {
            position: absolute;
            background: transparent;
            border: none;
            top: 13px;
            right: 17px;
        }
    }
}

@import "_media";