*,
::after,
::before,
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
body,
html {
  position: relative;
  font-family: Raleway,sans-serif;
  color: #333;
  background: #e5e5e5
}
body.hide-overflow-mobile,
html.hide-overflow-mobile {
  overflow: hidden
}
.wrapper-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%
}
.wrapper-page li,
.wrapper-page ol,
.wrapper-page ul {
  margin: 0
}
.wrapper-page button,
.wrapper-page input,
.wrapper-page textarea {
  outline: 0
}
.wrapper-page a {
  text-decoration: none;
  color: #333
}
.wrapper-page li,
.wrapper-page ul {
  display: inline-block;
  text-decoration: none;
  padding: 0
}
.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto
}
.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}
.header {
  background: #fff;
  padding: 14px 0
}
.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.menu-list-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #333
}
.menu-list li + li {
  margin-left: 32px
}
.header-logo {
  display: block;
  margin-right: 46px
}
.header-logo img {
  width: 199px;
  height: 48px;
  -o-object-fit: cover;
  object-fit: cover
}
.header-icons {
  display: block;
  position: relative;
  border: 1px solid #eee;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.header-icons + .header-icons {
  margin-left: 8px
}
.header-icons img,
.header-icons svg {
  width: 24px;
  height: 24px;
  -o-object-fit: cover;
  object-fit: cover
}
.header-icons.header-icons-search img,
.header-icons.header-icons-search svg {
  width: 18px;
  height: 18px
}
.header-desktop-sub-menu-heading {
  display: none
}
.header-icons-search {
  background-image: url(../img/svg/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px
}
.header-icons-search.open-search {
  background-image: url(../img/svg/close-button.svg);
  background-size: 24px 24px;
  border: none
}
.header-icons-count {
  position: absolute;
  top: -2px;
  right: -4px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  background: #fe000c;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: uppercase;
  -webkit-font-feature-settings: "pnum" on,"lnum" on;
  font-feature-settings: "pnum" on,"lnum" on;
  color: #fff
}
.menu-list > li {
  position: relative
}
.menu-list > li > a {
  position: relative;
  z-index: 10;
  display: block;
  text-decoration: none
}
.menu-list > li.is-parent a {
  padding-right: 18px
}
.menu-list > li.is-parent a::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 0;
  display: block;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 8px;
  border: 2px solid #333;
  border-width: 0 0 2px 2px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s
}
.menu-list > li.is-parent:hover .menu-submenu {
  max-height: 2000px;
  padding: 32px 0;
  opacity: 1;
  overflow: visible;
  border-top: 3px solid #fe000c
}
.menu-submenu {
  max-height: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 290px;
  max-height: 0;
  padding: 0;
  background: #fff;
  -webkit-transition: .35s;
  -o-transition: .35s;
  transition: .35s;
  overflow: hidden
}
.menu-submenu li {
  display: block
}
.menu-submenu li + li {
  margin: 0
}
.header-desktop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap
}
.header-desktop-menu > li {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative
}
.header-desktop-menu > li + li {
  margin-left: 28px
}
.header-desktop-menu > li > a {
  position: relative;
  z-index: 10;
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #333;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase
}
.header-desktop-menu > li > a:hover {
  color: #a29999
}
.header-desktop-menu > li > a > span {
  position: relative;
  z-index: 10;
  display: inline-block
}
.header-desktop-menu > li.is-parent > a > span:after {
  content: "";
  position: absolute;
  top: 7px;
  left: 100%;
  display: block;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 8px;
  border: 2px solid #333;
  border-width: 0 0 2px 2px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s
}
.header-desktop-sub-menu > li > a {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #333;
  text-decoration: none;
  padding: 12px 0 12px 30px
}
.header-desktop-sub-menu > li:hover > a {
  font-weight: 600;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  font-size: 14px;
  line-height: 24px;
  color: #fe000c;
  background: #f2f2f2
}
.header-desktop-sub-menu > li.is-parent > a span:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 22px;
  display: block;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 8px;
  border: 2px solid #c0c4c7;
  border-width: 2px 2px 0 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}
.header-desktop-sub-sub > li > a {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  text-decoration: none
}
.header-desktop-sub-sub > li > a span {
  padding: 12px 25px 12px 30px;
  display: block
}
.header-desktop-sub-sub > li:hover > a {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  background: #f2f2f2;
  color: #333
}
.header-desktop-sub-sub > li:hover > a span {
  font-weight: 600;
  color: #333
}
li.is-parent a {
  padding-right: 22px
}
.mobile-navigation-trigger {
  display: inline-block;
  width: 58px;
  height: 48px;
  padding: 0 15px;
  margin: 0 0 0 -15px;
  vertical-align: top;
  background: #fff;
  border: none;
  border-radius: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer
}
.mobile-navigation-trigger .icon-bar {
  display: block;
  width: 28px;
  height: 2px;
  margin: 5px 0;
  background: #333
}
.mobile-navigation-trigger .trigger-cross {
  display: none;
  font-size: 40px;
  font-family: serif;
  color: #a0a4a8
}
.mobile-navigation-trigger.active .icon-bar {
  display: none
}
.mobile-navigation-trigger.active .trigger-cross {
  display: block
}
.panel-search {
  background: #fff;
  display: none;
  position: absolute;
  width: 100%;
  padding: 16px 0;
  z-index: 2
}
.panel-search .panel-search-box {
  position: relative
}
.panel-search .panel-search-box input {
  width: 100%;
  height: 48px;
  padding: 16px 14px;
  border: 1px solid #eee;
  font-size: 14px;
  line-height: 20px;
  color: #333
}
.panel-search .panel-search-box input::-webkit-input-placeholder {
  color: #a29999
}
.panel-search .panel-search-box input::-moz-placeholder {
  color: #a29999
}
.panel-search .panel-search-box input:-ms-input-placeholder {
  color: #a29999
}
.panel-search .panel-search-box input::-ms-input-placeholder {
  color: #a29999
}
.panel-search .panel-search-box input::placeholder {
  color: #a29999
}
.panel-search .panel-search-box button {
  position: absolute;
  background: 0 0;
  border: none;
  top: 13px;
  right: 17px
}
@media (max-width:1199px) {
  .header {
    padding: 6px 0
  }
  ul.header-desktop-menu {
    display: none;
    height: 100vh;
    position: fixed;
    top: 64px;
    background: #f7f7f7;
    padding: 8px 0;
    width: 100vw;
    left: 0;
    z-index: 99
  }
  ul.header-desktop-menu li {
    display: block
  }
  ul.header-desktop-menu li.is-parent a {
    padding-left: 0
  }
  ul.header-desktop-menu li span {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
    display: block;
    width: 100%
  }
  .header-desktop-menu > li.is-parent > a > span:after {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    top: 11px;
    left: calc(100% - 35px)
  }
  .header-desktop-menu li a.menu-item:hover {
    color: #fe000c;
    background: #eee;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px
  }
  .header-desktop-menu > li + li {
    margin-left: 0
  }
  li.is-parent a {
    padding-right: 0
  }
  .header-desktop-menu > li > a {
    font-size: 14px;
    line-height: 24px;
    color: #333;
    font-weight: 400;
    text-align: left;
    padding: 12px 0
  }
  .header-logo {
    margin-right: 0;
    margin-left: 6px
  }
  .header-menu-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
  .menu-btn {
    display: block;
    width: 40px;
    cursor: pointer;
    height: 40px;
    opacity: 1;
    margin-right: 14px
  }
  .menu-btn.open-menu .menu-btn-top {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 7px
  }
  .menu-btn.open-menu .menu-btn-medium {
    opacity: 0
  }
  .menu-btn.open-menu .menu-btn-bottom {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -14px
  }
  .menu-btn span {
    display: block;
    width: 24px;
    margin-bottom: 5px;
    background: #333;
    height: 2px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    position: relative;
    top: 11px
  }
  .mobile-navigation-sub-position {
    position: absolute;
    z-index: 10;
    top: -8px;
    left: -100%;
    width: 100%;
    height: calc(100vh);
    background: #f7f7f7;
    overflow: hidden;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
  }
  .mobile-navigation-sub-position.sub-opened {
    left: 0;
    overflow: visible;
    z-index: 99
  }
  .mobile-navigation-sub-position.sub-opened .header-desktop-sub-menu-heading {
    display: block;
    padding: 15px 0;
    position: relative
  }
  .mobile-navigation-sub-position.sub-opened .header-desktop-sub-menu {
    overflow: auto;
    max-height: 100%;
    width: 100%
  }
  .header-desktop-sub-menu-heading-inner {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px
  }
  .header-desktop-sub-menu-heading-inner::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(100% - 35px);
    display: block;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 8px;
    border: 2px solid #c0c4c7;
    border-width: 2px 2px 0 0;
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg)
  }
  .header-desktop-sub-menu > li.is-parent > a span {
    position: relative
  }
  .header-desktop-sub-menu > li.is-parent > a span:after {
    right: auto;
    left: calc(100% - 35px)
  }
  .header-desktop-sub-menu-heading-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #333
  }
  .header-desktop-sub-menu-heading-link {
    color: #a29999;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400
  }
  .header-desktop-sub-sub,
  .header-desktop-sub-sub li {
    display: block;
    width: 100%
  }
  .header-desktop-sub-sub li a {
    display: block;
    width: 100%;
    padding: 12px 0
  }
  .header-desktop-sub-sub li a span {
    max-width: 960px;
    margin: 0 auto;
    width: 100%
  }
  .header-desktop-sub-menu > li > a {
    font-size: 14px;
    line-height: 24px
  }
}
@media (max-width:991px) {
  .header-desktop-sub-menu-heading-inner,
  ul.header-desktop-menu li span {
    max-width: 720px
  }
}
@media (max-width:767px) {
  .header-desktop-sub-menu-heading-inner,
  ul.header-desktop-menu li span {
    max-width: 540px
  }
  .header-logo img {
    width: 165px;
    height: 40px
  }
  .header-icons-buy,
  .header-icons-user {
    display: none
  }
}
@media (max-width:575px) {
  .header-desktop-sub-menu-heading-inner,
  ul.header-desktop-menu li span {
    max-width: 100%
  }
  .header-logo img {
    width: 133px;
    height: 32px
  }
}
@media (min-width:1200px) {
  .mobile-navigation-trigger {
    display: none
  }
  .header-desktop-menu {
    display: inline-block!important
  }
  .header-desktop-menu li.is-parent:hover .header-desktop-sub-menu {
    max-height: 2000px;
    padding: 32px 0;
    opacity: 1;
    overflow: visible;
    border-top: 3px solid #fe000c;
    z-index: 3
  }
  .header-desktop-sub-menu > li.is-parent:hover .header-desktop-sub-sub {
    height: calc(100% + 3px);
    padding: 30px 0;
    opacity: 1;
    border-top: 3px solid #fe000c
  }
  .header-desktop-sub-sub {
    position: absolute;
    top: -3px;
    left: 100%;
    height: 0;
    width: 100%;
    padding: 0;
    background: #f7f7f7;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.1);
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    -webkit-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
    overflow: hidden
  }
  .header-desktop-sub-menu {
    position: absolute;
    top: 50px;
    left: -46px;
    width: 290px;
    max-height: 0;
    padding: 0;
    background: #f7f7f7;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.1);
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    -webkit-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
    overflow: hidden
  }
  .header-desktop-sub-menu:before {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 50px;
    background: 0 0;
    left: 0;
    top: -50px
  }
  .header-desktop-sub-menu li {
    display: block
  }
  .header-desktop-menu > li.is-parent:hover > a > span:after {
    content: "";
    position: absolute;
    top: 7px;
    left: 100%;
    display: block;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 8px;
    border: 2px solid #a29999;
    border-width: 0 0 2px 2px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s
  }
  .header-desktop-sub-menu > li.is-parent:hover > a span:after {
    border-color: #393a3a
  }
}
.banner-slider-wrapper {
  padding: 50px 0
}
.banner-slider-wrapper .swiper-pagination {
  display: none
}
.banner-slider img {
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 5px
}
.banner-slider-innner {
  position: relative;
  height: 0;
  padding-bottom: 60.3%
}
.banner-slider-innner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
@media (max-width:1199px) {
  .banner-slider-innner {
    padding-bottom: 57%
  }
}
@media (max-width:767px) {
  .banner-slider-wrapper .swiper-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 540px;
    width: 100%;
    padding: 0 15px;
    margin-top: 25px
  }
  .swiper-pagination-bullet + .swiper-pagination-bullet {
    margin-left: 20px
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #a29999
  }
  .swiper-pagination-bullet-active {
    background: #fe000c
  }
}
.products-inner {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px
}
.product {
  background: #fff;
  min-height: 263px;
  max-height: 263px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 5px;
  border-bottom: 3px solid #fe000c;
  position: relative;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s
}
.product:hover {
  padding-bottom: 100px
}
.product:hover a.product-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  padding: 20px 30px;
  overflow: auto
}
.product:hover .product-img {
  width: 90px;
  height: 84px
}
.product:hover .phone-station {
  width: 132px;
  height: 84px
}
.product-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333;
  margin-top: 20px
}
a.product-link {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  background: #fe000c;
  border-radius: 5px;
  color: #fff
}
.product-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}
.product-img.phone-station {
  background-image: url(../img/svg/product.svg);
  width: 200px;
  height: 128px
}
.product-img.terminal {
  width: 128px;
  height: 128px;
  background-image: url(../img/svg/product-1.svg)
}
.product-img.router {
  width: 128px;
  height: 128px;
  background-image: url(../img/svg/product-2.svg)
}
@media (max-width:991px) {
  .products-inner {
    grid-template-columns: repeat(2,1fr)
  }
}
@media (max-width:767px) {
  .product-title {
    font-size: 16px
  }
}
@media (max-width:575px) {
  .products-inner {
    grid-template-columns: 1fr
  }
}